@keyframes wobble-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

@keyframes wobble-sideways {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(40px);
  }
}

.wobble {
  animation: wobble-sideways 1s ease-in-out 1s infinite alternate,
  wobble-up-down 1s ease-in-out 0s infinite alternate;
             
}